.w-article{
	@include clearfix;

	blockquote{
		padding: .5rem 1rem;
		border-left: 3px solid $c-primary;
		p{
			font-size: 1.2em;
		}
		p:last-child{
			margin-bottom: 0;
		}
	}

	.aligncenter{
		margin-left: auto;
		margin-right: auto;
	}
	.alignleft{
		float: left;
		margin: 1rem 1rem 1rem 0;
	}
	.alignright{
		float: right;
		margin: 1rem 0 1rem 1rem;
	}
	.wp-caption{
		font-size: $small;
	}
	img{
		max-width: 100%;
	}


}