.w-article{
	@include clearfix;

	blockquote{
		padding: .5rem 1rem;
		border-left: 3px solid $c-primary;
		p{
			font-size: 1.2em;
		}
		p:last-child{
			margin-bottom: 0;
		}
	}

	.aligncenter{
		margin-left: auto;
		margin-right: auto;
	}
	.alignleft{
		float: left;
		margin: 1rem 1rem 1rem 0;
	}
	.alignright{
		float: right;
		margin: 1rem 0 1rem 1rem;
	}
	.wp-caption{
		font-size: $small;
	}
	img{
		max-width: 100%;
	}

	.gallery{
		display: flex;
		flex-wrap: wrap;
		margin-left: -1rem !important;
		margin-right: -1rem !important;
		width: 100%;
		max-width: 100%;
		.gallery-item{
			padding-left: 1rem;
			padding-right: 1rem;
			img{
				border: 0 !important;
				max-width: 100% !important;
				height: auto;
				width: auto;
			}
		}
	}


}