{% extends "base.twig" %}

{% block content %}


<header id="hero" style="background-image: url({{ hederimage }})">
	<div class="container py-5">
		<div class="row">

			<div class="col-xl-6 col-lg-7">

				<h1>Professzionális épülethangosítás a  legmodernebb módon</h1>

				<div class="lead my-4 ms-4">Donec vitae luctus ipsum, et dignissim nibh. Sed gravida volutpat fringilla. Praesent sodales eget sapien at euismod. </div>
				<div class="d-flex flex-column flex-sm-row ms-4">
					<div class="btn btn-primary">Kapcsolat</div>
					<div class="btn btn-link">Rólunk <i class="fas fa-arrow-right"></i></div>
				</div>

			</div>

		</div>
	</div>
</header>


{% endblock %}