{% extends "base.twig" %}

{% block content %}
<div class="mt-8">

	<header class="container py-5 text-center">
		<h1>{{ post.title }}</h1>
	</header>

	<div class="bg-white text-dark">
		<div class="container py-5">
			<div class="row g-5">
			{% for item in posts %}
				{% include 'partial/item.twig' with { item } %}
			{% endfor %}
			</div>
		</div>
	</div>

	<div class="container pt-6 pb-2">
		<div class="row g-5">
		{% for item in posts %}
			{% include 'partial/item.twig' with { item } %}
		{% endfor %}
		</div>
	</div>
</div>
{% endblock %}