{% extends "base.twig" %}

{% block content %}

<article class="w-article mt-8">

	<header class="container py-5 text-center">
		<h1>{{ post.title }}</h1>
	</header>

	<div class="bg-white text-dark py-5">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-8">
					{{ post.content }}
				</div>
			</div>
		</div>
	</div>

	<div class="pt-5 pb-1 container">
		<div class="row g-5">
			{% for item in featured %}
				<div class="col-lg col-sm-6 text-center">
					<a class="btn btn-link px-0" href="{{ item.link }}">
						{{ item.title }}
						<i class="fa-solid fa-chevron-right ms-2"></i>
					</a>
				</div>
			{% endfor %}
		</div>
	</div>

</article>

{% endblock %}