{% extends "base.twig" %}

{% block content %}

<article class="w-article mt-8">

	<header class="container py-5 text-center">
		<h1>{{ post.title }}</h1>
	</header>

	<div class="bg-white text-dark py-5">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-8">
					{{ post.content }}
				</div>
			</div>
		</div>
	</div>

	<div class="pt-5 pb-1 container">
		<h2 class="h3 mb-5">Még több <a href="{{ post.category.link }}" class="text-decoration-underline">{{ post.category }}</a></h2>
		<div class="row g-5">
			{% for item in related %}
				{% include 'partial/item.twig' with { item } %}
			{% endfor %}
		</div>
	</div>

</article>

{% endblock %}